# APIM endpoint and subscription key for authenticating requests to tfs-api via APIM
# Locally, set APIM_TFS_VALUE to match the API_KEY value set on the tfs-api instance
APIM_TFS_URL=http://localhost:3001
APIM_TFS_KEY=x-api-key
APIM_TFS_VALUE=

# Halo integration
HALO_BASE_URL=
HALO_TENANT_NAME=
HALO_AUTH_CLIENT_ID=
HALO_CLIENT_SECRET=
HALO_TICKET_CLIENT_ID=12
HALO_TICKET_TYPE_ID=4
HALO_SITE_ID=18
HALO_USER_ID=25
HALO_TEAM_ID=32

# Queue
GIFT_MAX_NUMBER_OF_RETRIES=5
